body {
  background-color: #5378b8;
  text-align: center;
}
h1 {
  color: blue;
}

#myHeader {
  border: 5px solid white;
  color: #e36424;
  font-family: "Open Sans";
}

p {
  color: red;
}

img {
  border: 5px solid black;
}

textarea {
  float: right;
  resize: vertical;
}
